/*-----------------------------
	Theme Name: Maxelectric
	Start Date : 
	End Date : 
	Last change: 
	Version: 1.0
	Assigned to:
	Primary use:
-------------------------------*/

/*
	+ Header
		- Header1
	+ Footer
		- Footer1
		- Footer Widget Settings
		
	+ Section Header
	+ Shortcodes
		- Slider Section
		- Services Section
		- Services Section2
		- About Section
		- About Section2
		- Gallery Section
		- Gallery Section2
		- Gallery Single
		- Product Section
		- Counter Section
		- Blog Section
		- Blog Post
		- Latest Blog
		- Author Block
		- Widget Latest Posts
		- Widget Tag Cloud
		- Blog Widget Settings
		- Call Out
		- Testimonials Section
		- Who We Are
		- Team Section
		- Clients
		- Contact Us
		- Error Page

	+ Responsive
		- min-width: 1367
		- min-width: 1200
		- min-width: 992
		- min-width: 768
		- max-width: 1600
		- max-width: 1366
		- max-width: 1200
		- min-width: 992 to max-width: 1199
		- max-width: 991
		- min-width: 768 to max-width: 991
		- max-width: 767
		- max-width: 639
		- max-width: 479
		- max-width: 360
*/

/* + Header */

/* - Header1 */
.top-header {
	background-color: #232323;
	position: relative;
	padding: 12px 0;
}
.top-header .container {
	position: relative;
}
.top-header .header-social {
	display: inline-block;
	margin-bottom: 0;
	margin-top: 4px;
	padding-left: 0;
}
.top-header .header-social li {
	display: inline-block;
	margin-right: 12px;
}
.top-header .header-social li:last-child {
	margin-right: 0;
}
.top-header .header-social li a {
	color: #fff;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.top-header .header-social li a:hover {
	color: #ffb609;
}
.top-header .contact-block {
	display: inline-block;
	float: right;
}
.top-header .contact-block p {
	display: inline-block;
	font-size: 13px;
	letter-spacing: 0.52px;
	line-height: 28px;
	margin-bottom: 0;
	padding-right: 22px;
}
.top-header .contact-block p:last-child {
	padding-right: 0;
}
.top-header .contact-block p > i {
	color: #fff;
    height: auto;
    line-height: normal;
    margin-left: 0;
    padding-right: 10px;
    vertical-align: middle;
	font-size: 14px;
    width: auto;
}
.top-header .contact-block p,
.top-header .contact-block p > a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.top-header .contact-block p > a:hover {
	color: #ffb609;
}

.header_s1 {
	position: relative;
}
.header_s1 .ownavigation {
	background-color: #efefef;
}
.header_s1 .navbar > .container .navbar-brand, 
.header_s1 .navbar > .container-fluid .navbar-brand {
	margin-left: 0;
}
.header_s1 .navbar-brand {
	padding-top: 25px;
	padding-bottom: 25px;
}
.header_s1 .navbar-right {
	margin-right: 0;
}
.header_s1 .ownavigation .navbar-nav li  a {
	font-size: 13px;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.ownavigation .search {
	float: right;
	padding: 52px 0;
}
.header_s1 .search > a {
    color: #222;
    font-size: 16px;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.header_s1 .search-box {
	right: 100px;
}

/* + Footer */
/* - Footer1 */
.footer-main {
	background-color: #232323;
	padding-top: 80px;
	padding-bottom: 80px;
}
.footer-main h3.widget-title {
	color: #e9e7e7;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	letter-spacing: 0.72px;
	line-height: 34px;
	margin-top: 0;
	margin-bottom: 10px;
	position: relative;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.footer-main h3.widget-title::after {
	background-color: #ffb617;
	content: "";
	display: inline-block;
	left: 0;
	bottom: 0;
	position: absolute;
	height: 3px;
	width: 30px;
}
.footer-main .widget p {
	color: #ddd;
	font-size: 13px;
	letter-spacing: 0.52px;
	line-height: 24px;
}
.footer-main .widget p > span,
.footer-main .widget p > i {
	color: #fff;	
}
.footer-main .widget p > i {
	padding-right: 5px;
}
.footer-main .widget p > a {
	color: #ddd;
	text-decoration: none;
}
.footer-main .widget p > a:hover {
	color: #ffb617;
}
.footer-main .widget ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
.footer-main .widget ul li {
	margin-bottom: 10px;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.footer-main .widget > div > ul > li:last-child {
	margin-bottom: 0;
}
.footer-main .widget li a {
	color: #ddd;
	margin-bottom: 0;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.footer-main .widget.widget_archive li:hover,
.footer-main .widget.widget_categories li:hover,
.footer-main .widget li a:hover {
	color: #ffb617;
}
.footer-main .widget.widget_links {
	padding-left: 50px;
}
.footer-main .widget ul li a::before {
	content: ">";
	padding-right: 12px;
	color: #ddd;
}
.footer-main ul.footer-social {
	list-style: none;
	margin-bottom: 0;
	margin-top: 50px;
	padding-left: 0;
}
.footer-main ul.footer-social li {
	display: inline-block;
	width: auto;
}
.footer-main ul.footer-social li {
	margin-right: 10px;
}
.footer-main ul.footer-social li a::before {
	content: "";
	padding-right: 0;
}
.footer-main ul.footer-social li:last-child{
	margin-right: 0;
}
.footer-main ul.footer-social li a {
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	height: 28px;
	width: 28px;
	line-height: 25px;
	text-align: center;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	padding: 0;
}
.footer-main ul.footer-social li a:hover {
	background-color: #fff;
	color: #000;
}
.footer-main .widget.widget_services li a::before {
	content: ">";
	padding-right: 12px;
}
.copyright-section {
	background-color: #333;
	padding: 10px 0;
	text-align: center;
}
.copyright-section p {
	color: #ddd;
	font-size: 13px;
	letter-spacing: 0.52px;
	margin-bottom: 0;
}

/* - Footer Widget Settings */
.footer-main .widget_recent_entries ul li a::before,
.footer-main .widget_recent_comments ul li a::before,
.footer-main .widget.widget_rss ul li > a::before {
    content: "";
}

.footer-main .widget.widget_nav_menu ul li {
	margin-bottom: 0;
}
.footer-main .widget.widget_nav_menu ul li a {
	margin-bottom: 10px;
}
.footer-main .widget.widget_nav_menu > ul > li:last-child > a {
	margin-bottom: 0;
}

.footer-main .widget_search .input-group .form-control {
	color: #ddd;
}
.footer-main .widget_search .input-group .form-control::-webkit-input-placeholder {
   color: #ddd;
}
.footer-main .widget_search .input-group .form-control:-moz-placeholder {
   color: #ddd; 
}
.footer-main .widget_search .input-group .form-control::-moz-placeholder { 
   color: #ddd;
}
.footer-main .widget_search .input-group .form-control:-ms-input-placeholder {  
   color: #ddd; 
}

/* + Section Header */
.section-header {
	margin-bottom: 45px;
	text-align: center;
}
.section-header h3 {
	color: #232323;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 45px;
	letter-spacing: 1.8px;
	margin-top: 0;
	margin-bottom: 10px;
	position: relative;
	text-transform: uppercase;
}
.section-header p {
	color: #666;
	line-height: 28px;
	letter-spacing: 0.56px;
	margin-top: 10px;
	margin-bottom: 0;
}

/* + Shortcodes */

/* - Slider Section */
.slider-section {
	position: relative;
}
.rev_slider .slotholder:after {	
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0; 
	bottom: 0;	
	background: rgba(0, 0, 0, 0.6);
}
body .rev_slider .uranus.tparrows:hover {
	color: #000;
}
#rev_slider_2_1_wrapper {
	margin-bottom: 40px !important;
}

.callback-form .form-bg {
	background-color: #ecedee;
	padding: 25px;
}
.callback-form .form-bg h5 {
	color: #333;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 18px !important;
	letter-spacing: 0.72px;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: capitalize;
}
.callback-form .form-bg p {
	color: #777;
	font-size: 13px !important;
	letter-spacing: 0.52px;
	margin-bottom: 20px;
}
.callback-form .form-bg .form-group {
	margin-bottom: 20px;
}
.callback-form .form-bg .form-group:last-of-type {
	margin-bottom: 0;
}
.callback-form .form-bg .wpcf7-form .wpcf7-form-control {
	background-color: #fff;
	border-radius: 3px;
	border: none;
	box-shadow: none;
	padding: 10px;
	min-height: 39px;
	font-size: 14px  !important;
	border-radius: 0;
	outline: none;
	letter-spacing: 0.52px;
}
.callback-form .form-bg .wpcf7-form .wpcf7-form-control.wpcf7-textarea {
	padding: 15px !important;
}
.callback-form .form-bg .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	background-color: #ffb609;
	border: 1px solid #ffb609;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	padding: 12px 21px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	border-radius: 0;
	margin-bottom: 0;
}
.callback-form .wpcf7-form span.wpcf7-not-valid-tip {
	font-size: 13px !important;
}
.callback-form .wpcf7-response-output {
	margin: 0;
	padding: 0;
	font-size: 14px !important;
	color: #000;
	word-wrap: break-word;
}
.callback-form .form-bg .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
	background-color: transparent;
	color: #ffb609;
}
.callback-form .wpcf7-form span.wpcf7-not-valid-tip,
.callback-form .wpcf7-form div.wpcf7-mail-sent-ng,
.callback-form .wpcf7-form div.wpcf7-validation-errors {
	line-height: 24px !important;
}

/* - Services Section */
.services-section {
	background-color: #f5f5f5;
	padding-top: 92px;
	padding-bottom: 72px;
}
.services-section .srv-box {
	background-color: #fff;
	margin-bottom: 30px;
	position: relative;
	padding-left: 100px;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-right: 32px;
}
.services-section .srv-box i {
	background-color: #186fbe;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	font-size: 25px;
	height: 54px;
	width: 54px;
	line-height: 54px;
	position: absolute;
	left: 25px;
	text-align: center;
	margin-left: 0;
}
.services-section .srv-box h5 {
	color: #333;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	margin-top: 0;
}
.services-section .srv-box p {
	color: #777;
	line-height: 24px;
	letter-spacing: 0.56px;
}
.services-section .srv-box a {
	color: #186fbe;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	letter-spacing: 0.56px;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	margin-top: 3px;
	display: inline-block;
}
.services-section .srv-box a:hover {
	color: #333;
}

/* - Services Section2 */
.services-section2 {
	background-color: #fff;
}
.services-section3 {
	background-color: #fff;
}
.services-section3 .srv-box {
	background-color: #f7f7f7;
}
.services-section2 .srv-box {
	background-color: #fafafa;
	text-align: center;
	padding: 32px 56px;
}
.services-section2 .srv-box i {
	position: relative;
	left: 0;
	margin-bottom: 15px;
}

/* - About Section */
.about-section {
	padding-top: 92px;
	padding-bottom: 52px;
}
.about-section.about-section2 {
	padding-top: 12px;
	padding-bottom: 12px;
}
.about-section .about-content-right {
	float: right;
}
.about-section .about-box {
	margin-bottom: 50px;
	position: relative;
	padding-left: 60px;
}
.about-section .about-box i {
	color: #186fbe;
	font-size: 35px;
	position: absolute;
	left: 0;
	width: auto;
	height: auto;
	line-height: normal;
	margin-left: 0;
	vertical-align: baseline;
}
.about-section .about-box h5 {
	color: #232323;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.72px;
	line-height: 32px;
	margin-top: 0;
	text-transform: capitalize;
	margin-bottom: 7px;
}
.about-section .about-box p {
	color: #aaa;
	line-height: 28px;
	letter-spacing: 0.56px;
}

/* - About Section2 */
.about-section2 .about-content-right {
	float: left;
}

/* - Gallery Section */
.gallery-header {
	background-color: #f5f5f5;
	padding-top: 92px;
}
.gallery-section .portfolio-categories {
	padding-left: 0;
	margin-bottom: 55px;
	text-align: center;
}
.gallery-section .portfolio-categories li {
	display: inline-block;
	margin-right: 10px;
}
.gallery-section .portfolio-categories li:last-child {
	margin-right: 0;
}
.gallery-section .portfolio-categories li a {
	border: 3px solid #afafaf;
	color: #232323;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
	padding: 7px 24px;
	text-transform: capitalize;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.gallery-section .portfolio-categories li a.active,
.gallery-section .portfolio-categories li a:hover,
.gallery-section .portfolio-categories li a:focus {
	background-color: #186fbe;
	border-color: #186fbe;
	color: #fff;
}
.gallery-section .portfolio-list {
	margin-bottom: 0;
}
.gallery-section .portfolio-list li {
	list-style: none;
}
.gallery-section .content-image-block {
	position: relative;
}
.gallery-section .content-image-block::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.651);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
	opacity: 0;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.gallery-section .content-image-block::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.271);
	border: 1px solid #fff;
	left: 15px;
	right: 15px;
	top: 15px;
	opacity: 0;
	bottom: 15px;
	position: absolute;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.gallery-section .content-image-block img {
	min-height: 150px;
}
.gallery-section .content-block-hover {
	left: 0;
	right: 0;
	position: absolute;
	top: 50%;
	text-align: center;
	z-index: 2;
	opacity: 0;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;	
	padding: 15px;
}
.gallery-section .content-block-hover > a {
	border: 2px solid #fff;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
	position: relative;
}
.gallery-section .content-block-hover > a:hover {
	border-color: #ffb609;
}
.gallery-section .content-block-hover > a i {
	width: auto;
	height: auto;
	margin-left: 0;
	line-height: normal;
	vertical-align: baseline;
}
.gallery-section .content-block-hover h5,
.gallery-section .content-block-hover h5 a {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.72px;
	line-height: 26px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
	text-decoration: none;
}
.gallery-section .content-block-hover h5 a:hover {
	color: #ffb609;
}
.gallery-section .content-block-hover span a {
	color: #fff;
	text-decoration: none;
	position: relative;
	padding-right: 12px;
	padding-left: 8px;
}
.gallery-section .content-block-hover span a:hover {
	color: #ffb609;
}
.gallery-section .content-block-hover span a::after {
	position: absolute;
	content: ",";
	right: 0;
	font-size: 16px;
	bottom: 0;
}
.gallery-section .content-block-hover span a:last-of-type::after {
	content: "";
}
.gallery-section .content-block-hover span {
	color: #afafaf;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.56px;
	line-height: 28px;
	text-transform: uppercase;
}
.gallery-section .content-image-block:hover .content-block-hover {
	opacity: 1;
}
.gallery-section .content-image-block:hover::before  {
	opacity: 1;
}
.gallery-section .content-image-block:hover::after {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
}

/* - Gallery Section2 */
.gallery-section2 {
	background-color: #f5f5f5;
	padding-bottom: 82px;
	padding-top: 92px;
}
.gallery-section2 .content-block-hover h5 {
	font-weight: 500;
	margin-top: 10px; 
	text-transform: capitalize;
}
.gallery-section2 .portfolio-list li {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 21px;
} 
.gallery-section2 .content-image-block::after {
	background-color: rgba(0, 0, 0, 0);
}
.gallery-section2 li.small .content-image-block::after {
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
}
.gallery-section2 li.medium .content-image-block::after {
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
}
.gallery-section2 .ow-pagination {
	margin-top: 30px;
	margin-bottom: 0;
	text-align: center;
}
.gallery-section2 .ow-pagination ul li {
	margin: 0 10px;
}
.gallery-section2 .ow-pagination ul li a {
	border-radius: 100%;
	border-color: #186fbe;
	height: 16px;
	font-size: 0;
	width: 16px;
}
.gallery-section2 .ow-pagination ul li a:hover {
	background-color: #186fbe;
}
.gallery-section2 .ow-pagination .pagination > li:first-child > a, 
.gallery-section2 .ow-pagination .pagination > li:last-child > a {
	border-radius: 100%;
	height: 16px;
	width: 16px;
}

/* - Gallery Single */
.gallery-single {
	padding-top: 20px;
	padding-bottom: 20px;
}
.gallery-single-content {
	display: inline-block;
    margin-bottom: 60px;
    width: 100%;
}
.gallery-single h5 {
	color: #232323;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	line-height: 40px;
	margin-top: 0;
	margin-bottom: 35px;
	position: relative;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.gallery-single h5::after {
	background-color: #ffb617;
	content: "";
	height: 5px;
	width: 94px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.gallery-single h5 span {
	color: #ffb617;
}
.project-detail {
	border: 8px solid #f8f8f8;
	display: inline-block;
	margin-top: 75px;
	padding: 55px 28px;
	width: 100%;
}
.project-detail .project-box {
	position: relative;
	padding-left: 85px;
	padding-bottom: 10px;
	margin-bottom: 45px;
}
.project-detail .project-box:last-child  {
	margin-bottom: 0;
}
.project-detail .project-box i {
	background-color: #ffb617;
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	position: absolute;
	left: 0;
	font-size: 25px;
	height: 57px;
	width: 57px;
	line-height: 58px;
	text-align: center;
}
.project-detail .project-box i::after {
	content: "";
	border: 1px solid #e1e1e1;
	border-radius: 100%;
	position: absolute;
	left: -5px;
	right: -5px;
	top: -5px;
	bottom: -5px;
}
.project-detail .project-box h6 {
	color: #232323;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.08px;
	margin-top: 0;
	text-transform: uppercase;
	line-height: 24px;
	margin-bottom: 6px;
}
.project-detail .project-box span {
	color: #888;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.52px;
}
.project-description {
	margin-bottom: 50px;
}
.project-description p {
	color: #888;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.065px;
}
.gallery-single .related-images a img {
	border: 2px solid transparent;
	display: inline-block;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.gallery-single .related-images a:hover img {
	border-color: #186fbe
}

/* - Product Section */
.product-section {
	padding-top: 92px;
	padding-bottom: 20px;
}

/* - Counter Section */
.counter-section {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 100px 0 70px;
}
.counter-section::before {
	content: "";
	display: inline-block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background-color: rgb(24,111,190);
	opacity: 0.89;
}
.counter-section .counter-box {
	position: relative;
	padding-left: 100px;
	margin-bottom: 30px;
}
.counter-section .counter-box  i {
	color: #fff;
	position: absolute;
	left: 0;
	top: 10px;
	font-size: 60px;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	margin-left: 0;
}
.counter-section .counter-box span {
	color: #fff;
	display: inline-block;
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 1.44px;
	line-height: 28px;
	margin-bottom: 15px;
	position: relative;
	padding-bottom: 20px;
}
.counter-section .counter-box span::before {
	background-color: #ffb300;
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 49px;
}
.counter-section .counter-box p {
	color: #fff;
	letter-spacing: 0.72px;
	margin-bottom: 0;
	text-transform: uppercase;
}

/* - Blog Section */
.blog-section {
	padding-top: 65px;
	padding-bottom: 65px;
}

article[class*="type-"] {
	display: inline-block;
    margin-bottom: 60px;
    width: 100%;
	position: relative;
}
article[class*="type-"]:last-of-type {
	margin-bottom: 0;
}
article[class*="type-"] .entry-cover {
	position: relative;
}
article[class*="type-"] .entry-cover a {
	display: inline-block;
}
article[class*="type-"] .entry-meta {
	background-color: #fff;
	display: inline-block;
	position: absolute;
	padding: 10px 30px;
	bottom: 0;
	left: 0;
	right: auto;
}
article[class*="type-"] .post-date,
article[class*="type-"] .post-comment {
	display: inline-block;
}
article[class*="type-"] .post-date {
	padding-right: 60px;
}
.single-post article[class*="type-"] .post-date span,
article[class*="type-"] .entry-meta a {
	color: #232323;
	font-size: 14px;
	letter-spacing: 0.56px;
	line-height: 28px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
article[class*="type-"] .entry-meta a:hover {
	color: #186fbe;
}
.single-post article[class*="type-"] .post-date span > i,
article[class*="type-"] .entry-meta a > i {
	color: #186fbe;
	font-size: 16px;
	height: auto;
	margin-left: 0;
	padding-right: 12px;
	vertical-align: baseline;
	width: auto;
} 
article[class*="type-"] h3.entry-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	margin-top: 10px;
	text-transform: capitalize;
	padding-right: 20px;
}
article[class*="type-"] h3.entry-title a {
	color: #232323;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
	text-transform: capitalize;
}
article[class*="type-"] h3.entry-title a:hover {
	color: #186fbe;
}
article[class*="type-"] .entry-content p {
	color: #888;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.52px;
	padding-right: 20px;
}
.single-post article[class*="type-"] .entry-content {
	margin-top: 15px;
}
article[class*="type-"] .entry-content > a {
	background-color: #186fbe;
	border: 1px solid #186fbe;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	font-size: 13px;
	padding: 10px 25px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
article[class*="type-"] .entry-content > a:hover {
	background-color: transparent;
	color: #186fbe;
}
article[class*="type-"] .entry-cover a.popup-youtube {
	background-color: #da0b0b;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 25px;
	position: absolute;
	width: 78px;
	height: 48px;
	line-height: 48px;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
}

/* - NoPost Thumbnail Setting */
article[class*="type-"].format-gallery .entry-meta,
article[class*="type-"].format-video .entry-meta,
article[class*="type-"].no-post-thumbnail .entry-meta {
	position: relative;
	padding-left: 0;
}
article[class*="type-"].no-post-thumbnail .entry-meta {
	padding-top: 0;
}

/* - Blog Post */
.blog-post {
	padding-top: 65px;
	padding-bottom: 65px;
}

/* - Latest Blog */
.latest-blog {
	padding-top: 92px;
	padding-bottom: 72px;
}
.latest-blog article[class*="type-"] {
	margin-bottom: 30px;
}
.latest-blog article[class*="type-"] .entry-meta {
	margin-bottom: 20px;
	position: relative;
	padding: 0;
}
.latest-blog article[class*="type-"] .post-date,
.latest-blog article[class*="type-"] .byline {
	display: inline-block;
}
.latest-blog article[class*="type-"] h3.entry-title {
	font-size: 16px;
	letter-spacing: 0.16px;
	margin-top: 20px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.latest-blog article[class*="type-"] .entry-meta a {
	color: #888;
	font-style: italic;
	text-transform: capitalize;
}
.latest-blog article[class*="type-"] .entry-meta a:hover {
	color: #186fbe;
}
.latest-blog article[class*="type-"] .entry-meta a > i {
	font-size: 13px;
	padding-right: 10px;
}
.latest-blog article[class*="type-"] .post-date {
	padding-right: 25px;
}
.latest-blog article[class*="type-"] .entry-content a {
	background-color: transparent;
	border: none;
	color: #ffb617;
	padding: 0;
}
.latest-blog article[class*="type-"] .entry-content p {
	margin-bottom: 15px;
}
.latest-blog article[class*="type-"] .entry-content a:hover {
	color: #186fbe;
}
.post-right article[class*="type-"] {
	margin-bottom: 25px;
	position: relative;
	padding-left: 200px;
}
.post-right article[class*="type-"] .entry-cover {
	position: absolute;
	left: 0;
}
.post-right article[class*="type-"] h3.entry-title {
	margin-top: 0;
}
.post-right article[class*="type-"] .entry-meta {
	margin-bottom: 5px;
}

/* - Author Block */
.author-block {
	border: 1px solid #d9d9d9;
	display: inline-block;
	padding: 20px;
	width: 100%;
	margin-top: 50px;
}
.author-block .author-box img {
	position: absolute;
	left: 0;
}
.author-block .author-box {
	position: relative;
	padding-left: 160px;
	padding-bottom: 30px;
}
.author-block .author-box h5 {
	color: #232323;
	font-weight: 700;
	letter-spacing: 0.72px;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}
.author-block .author-box span {
	color: #888;
	font-weight: 600;
	text-transform: capitalize;
}
.author-block .author-box p {
	color: #888;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.52px;
	margin-top: 12px;
	margin-bottom: 0;
}

/* - Widget Latest Posts */
.widget_latestposts .latest-content {
	display: inline-block;
    margin-bottom: 30px;
    padding-left: 122px;
	padding-bottom: 10px;
    position: relative;
    width: 100%;
	text-align: left;
	min-height: 80px;
}
.widget_latestposts .latest-content:last-of-type {
	margin-bottom: 0;
}
.widget_latestposts .latest-content > a > i {
    left: 0;
    position: absolute;
}
.widget_latestposts .latest-content h5 {
	font-family: 'Poppins', sans-serif;	
	line-height: 21px;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.widget_latestposts .latest-content h5 > a {
	color: #232323;
	text-decoration: none;
}
.widget_latestposts .latest-content h5 > a:hover {
	color: #186fbe;
}
.widget_latestposts .latest-content span > a {
	color: #186fbe;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.52px;
	text-transform: uppercase;
}
.widget_latestposts .latest-content span > a > i {
	padding-right: 10px;
}

/* - Widget Tag Cloud */
.widget_tag_cloud .tagcloud a {
	border: 1px solid #dcdcdc;
	background-color: transparent;
	color: #888;
	display: inline-block;
	font-size: 13px;
	margin-bottom: 12px;
	margin-right: 10px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.widget_tag_cloud .tagcloud a:hover {
	background-color: #186fbe;
	border-color: #186fbe;
	color: #fff;
}

/* - Blog Widget Settings */
.widget-area .widget_about .footer-social {
	margin-top: 15px;
}
.widget-area .widget_info p ,
.widget-area .widget_about p {
	color: #777;
}
.widget-area .widget_about ul li {
	width: auto;
}
.widget-area .widget_about ul li a {
	border: 1px solid #777;
	color: #777;
	display: inline-block;
	height: 28px;
	line-height: 25px;
	text-align: center;
	transition: all 1s ease 0s;
	width: 28px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 0;
}
.widget-area .widget_about ul li:last-of-type a {
	margin-right: 0;
}
.widget-area .widget_about ul li a:hover {
	background-color: #186fbe;
	color: #fff;
	border-color: #186fbe;
}
.widget-area .widget_about ul li a::before {
	content: "";
}

.widget-area .information-text p i {
	width: auto;
	height: auto;
	line-height: normal;
	margin-left: 0;
	vertical-align: baseline;
	margin-right: 5px;	
}

/* - Call Out */
.call-out {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 100px 0;
}
.call-out::before {
	background-color: rgba(0, 0, 0, 0.729);
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.call-out .call-out-content {
	position: relative;
}
.call-out .call-out-content h5 {
	color: #fff;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	letter-spacing: 1.2px;
	margin-top: 0;
	text-transform: uppercase;
	line-height: 46px;
	margin-bottom: 5px;
	word-wrap: break-word;
}
.call-out .call-out-content h5 span {
	color: #ffb609;
	font-weight: 700;
}
.call-out .call-out-content p {
	color: #fff;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 0;
	padding-right: 40%;
}
.call-out .call-out-content a {
	border: 2px solid #ffb609;
	color: #fff;
	display: inline-block;
	position: absolute;	
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);	
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.52px;
	padding: 8px 18px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.call-out .call-out-content a:hover {
	background-color: #ffb300;
	color: #fff;
}

/* - Testimonials Section */
.testimonial-section {
	padding-top: 92px;
	padding-bottom: 92px;
}
.testimonial-section .testi-box {
	background-color: #f7f7f7;
	position: relative;
	padding-left: 125px;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 60px;
}
.testimonial-section .testi-box img {
	border: 2px solid #fff;
	border-radius: 100%;
	position: absolute;
	padding: 4px;
	left: 30px;
	width: auto;
}
.testimonial-section .testi-box h5 {
	color: #232323;
	font-weight: 600;
	letter-spacing: 0.07px;
	line-height: 30px;
	margin: 0;
}
.testimonial-section .testi-box h5 sup {
	color: #ffb617;
	font-size: 25px;
	top: 0;
}
.testimonial-section .testi-box span {
	color: #ffb617;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.065px;
	margin-left: 10px;
	margin-bottom: 15px;
}
.testimonial-section .testi-box p {
	color: #777;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.065px;
	margin-bottom: 0;
	margin-left: 10px;
}

.testimonial-section .owl-theme .owl-controls .owl-nav [class*="owl-"] {
	height: 49px;
	width: 49px;
	border-radius: 100%;
	border: 1px solid #777;
	background-color: transparent;
	color: #777;
	display: inline-block;
	font-size: 0;
	line-height: 40px;
	position: absolute;
	top: 35%;
	text-align: center;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.testimonial-section .owl-controls .owl-nav .owl-prev {
	left: -15%;
}
.testimonial-section .owl-controls .owl-nav .owl-next {
	right: -15%;
}
.testimonial-section .owl-theme .owl-controls .owl-nav [class*="owl-"]::before {
	font-family: 'FontAwesome';
	font-size: 13px;
	color: #777;
}
.testimonial-section .owl-theme .owl-controls .owl-nav .owl-prev::before { 
	content: "\f053";
}
.testimonial-section .owl-theme .owl-controls .owl-nav .owl-next::before {
	content: "\f054";
}
.testimonial-section .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
	background-color: #777;
}
.testimonial-section .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover::before {
	color: #fff;
}
.testimonial-section .owl-theme .owl-controls {
	margin-top: 20px;
}
.testimonial-section .owl-theme .owl-dots .owl-dot span {
	background-color: #156fbe;
	border-radius: 0;
	width: 14px;
	height: 15px;
	margin: 4px 8px;
	position: relative;
	border: 2px solid transparent;
}
.testimonial-section .owl-theme .owl-dots .owl-dot.active span, 
.testimonial-section .owl-theme .owl-dots .owl-dot:hover span {
	border-color:#156fbe;
	background-color: #fff;
    height: 15px;
    margin: 3px;
    top: 3px;
    width: 15px;
	margin: 7px 8px;
}
.testimonial-section .owl-theme .owl-dots .owl-dot.active span::after,
.testimonial-section .owl-theme .owl-dots .owl-dot:hover span::after {
	content: "";
	background-color: #156fbe;
	height: 6px;
	width: 5px;
	left: 3px;
	right: 2px;
	top: 3px;
	bottom: 2px;
	position: absolute;
	margin: 0;
}

/* - Who We Are */
.who-we-are {
	background-color: #f5f5f5;
	padding-bottom: 70px;
}
.why-choose-box {
	margin-bottom: 40px;
}
.why-choose-box h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 22px;
	letter-spacing: 0.88px;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.why-choose-box p {
	color: #777;
	line-height: 24px;
	letter-spacing: 0.56px;
	margin-bottom: 0;
}
.we-are-box {
	margin-bottom: 30px;
	position: relative;
	padding-left: 55px;
}
.we-are-box i.icon {
	color: #186fbe;
	font-size: 35px;
	position: absolute;
	left: 0;
	width: auto;
	height: auto;
	line-height: normal;
	margin-left: 0;
	vertical-align: baseline;
}
.we-are-box h5 {
	color: #232323;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.72px;
	line-height: 28px;
	text-transform: uppercase;
}
.we-are-box p {
	color: #777;
	letter-spacing: 0.56px;
	line-height: 24px;
}
.we-are-form {
	padding: 32px 70px 35px;
	text-align: center;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
	margin-bottom: 100px;
}
.we-are-form::before {
	background-color: rgba(24, 111, 190, 0.8);
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 1s ease 0s;
}
.we-are-form h5 {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.96px;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 25px;
	text-transform: capitalize;
	text-align: center;
	position: relative;
}
.we-are-form form {
	margin-bottom: 0;
	text-align: left;
}
.we-are-form .wpcf7-form .form-group {
	margin-bottom: 20px;
}
.we-are-form .wpcf7-form div.form-group:last-of-type {
	margin-bottom: 0;
}
.we-are-form .wpcf7-form .wpcf7-form-control {
	border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: auto;
    letter-spacing: 0.52px;
    padding: 15px 25px;
}
.we-are-form .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	height: auto;
	letter-spacing: 0.52px;
	padding: 12px 25px;
	min-height: auto;
}
.we-are-form .wpcf7-form .wpcf7-form-control.wpcf7-submit {
	border: none;
	background-color: #ffb609;
	color: #fff;
	padding: 8px 25px;
	font-size: 13px;
	letter-spacing: 0.52px;
	text-transform: uppercase;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.we-are-form .wpcf7-form .wpcf7-form-control.wpcf7-submit:hover {
	background-color: #fff;
	color: #ffb609;
}
.we-are-form .wpcf7-form div.wpcf7-mail-sent-ng,
.we-are-form .wpcf7-form div.wpcf7-validation-errors {
	margin-left: 0;
	color: #fff;
	border-color: #fff;
	position: relative;
}

/* - Team Section */
.team-section {
	padding-top: 92px;
	padding-bottom: 10px;
}
.team-section2 {
	background-color: #fafafa;
}
.team-section .team-details-tab {
	position: relative;
}
.team-section .team-details-tab .nav-tabs {
	border-bottom: none;
	margin-bottom: 55px;
	display: inline-block;
}
.team-section .team-details-tab .nav > li {
	float: none;
}
.team-section .team-details-tab .nav-tabs > li > a  {
	margin-right: 0;
}
.team-section .team-details-tab .nav > li > a {
	position: relative;
	padding: 0 0 53px 150px;
	margin-bottom: 20px;
}
.team-section .team-details-tab .nav.nav-tabs i > img {
	border-radius: 100%;
}
.team-section .team-details-tab .nav > li  a:focus,
.team-section .team-details-tab .nav > li  a:hover,
.team-section .team-details-tab .nav-tabs > li.active  a,
.team-section .team-details-tab .nav-tabs > li.active  a:focus,
.team-section .team-details-tab .nav-tabs > li.active  a:hover {
	background-color: transparent;
	border-color: transparent;
}
.team-section .team-details-tab .nav.nav-tabs i {
	position: absolute;
	left: 0;
}
.team-section .team-details-tab .nav.nav-tabs > li.active  a i::before {
	background-color: rgba(0, 0, 0, 0.588);
	border-radius: 100%;
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.team-section .team-details-tab .nav.nav-tabs i::after {
	content: "";
	border-radius: 100%;
	border: 5px solid #e3e3e3;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
}
.team-section .team-details-tab .nav.nav-tabs h5 {
	color: #000;
    font-weight: 700;
    letter-spacing: 0.56px;
    line-height: 23px;
    margin-bottom: 13px;
    margin-top: 0;
    padding-bottom: 15px;
    position: relative;	
}
.team-section .team-details-tab .nav.nav-tabs h5::after {
	background-color: #ffb617;
	content: "";
	width: 44px;
	height: 3px;
	left: 0;
	bottom: 0;
	position: absolute;
}
.team-section .team-details-tab .nav.nav-tabs p {
	color: #186fbe;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.975px;
	text-transform: uppercase;
}
.team-section .team-details-tab .tab-img {
	position: relative;
}
.team-section .team-details-tab .tab-img::before {
	background-color: rgba(0, 0, 0, 0.588);
	border-radius: 100%;
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.team-section .team-details-tab .tab-img::after {
	content: "";
	border-radius: 100%;
	border: 6px solid #e3e3e3;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
}
.team-section .team-details-tab .tab-img {
	max-width: 282px;
}
.team-section .team-details-tab .tab-img img {
	border-radius: 100%;
}
.team-section .team-details-tab .team-social {
	padding-left: 0;
	margin-bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	top: 50%;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%); 
}
.team-section .team-details-tab .team-social li {
	display: inline-block;
	margin-right: 8px;
}
.team-section .team-details-tab .team-social li a {
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 25px;
	text-align: center;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.team-section .team-details-tab .team-social li a:hover {
	background-color: #fff;
	color: #000;
}
.team-section .team-details-tab .team-content h5 {
	color: #232323;
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.64px;
	position: relative;
	padding-bottom: 20px;
	line-height: 22px;
}
.team-section .team-details-tab .team-content h5::after {
	background-color: #ffb617;
	content: "";
	width: 44px;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.team-section .team-details-tab .team-content > span {
	color: #186fbe;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.975px;
	margin-left: 25px;
	text-transform: uppercase;
}
.team-section .team-details-tab .team-content p {
	color: #888;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.56px;
	margin-bottom: 20px;
}
.team-section .skill-progress-box {
	margin-bottom: 30px;
}
.team-section .skill-progress-box h3 {
    color: #212121;
    font-size: 13px;
    font-weight: 700;
	letter-spacing: 0.325px;
    margin-bottom: 8px;
    margin-top: 0;
    position: relative;
    text-transform: uppercase;
}
.team-section .skill-progress-box h3 > span {
	color: #888;
	float: right;
	font-weight: 700;
	font-size: 13px;
    padding-left: 8px;
}
.team-section .skill-progress-box h3 span::after {
	color: #888;
	content: "%";
    padding-left: 3px;
}
.team-section .skill-progress-box .progress {
	background-color: #888;
    border-radius: 50px;
    box-shadow: none;
    height: 10px;
    margin-bottom: 16px;
}
.team-section .skill-progress-box .progress-bar {
	background-color: #ffb617;
	border-radius: 50px;
	-webkit-transition: all 5s ease 0s;
	-moz-transition: all 5s ease 0s;
	-o-transition: all 5s ease 0s;
	transition: all 5s ease 0s;
}

/* - Clients */
.clients {
	padding: 90px 0;
}
.clients {
	background-color: #fafafa;
}
.clients .owl-carousel .owl-item img {
    width: auto;
	display: inline-block;
}
.clients .owl-carousel .owl-item img {
    width: auto;
	display: inline-block;
}
.clients .clients-carousel .item  a {
	border: 1px solid #eceaea;
	text-align: center;
	line-height: 148px;
	width: 100%;
	display: inline-block;
	vertical-align: middle;	
	min-height: 148px;
	max-height: 148px;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.clients .clients-carousel .item  a:hover {
	border-color: #000;
}
.clients .owl-theme .owl-controls .owl-nav [class*="owl-"] {
	height: 49px;
	width: 49px;
	border-radius: 100%;
	border: 1px solid #777;
	background-color: transparent;
	color: #777;
	display: inline-block;
	font-size: 0;
	line-height: 40px;
	position: absolute;
	top: 35%;
	text-align: center;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.clients .owl-controls .owl-nav .owl-prev {
	left: -15%;
}
.clients .owl-controls .owl-nav .owl-next {
	right: -15%;
}
.clients .owl-theme .owl-controls .owl-nav [class*="owl-"]::before {
	font-family: 'FontAwesome';
	font-size: 13px;
	color: #777;
}
.clients .owl-theme .owl-controls .owl-nav .owl-prev::before { 
	content: "\f053";
}
.clients .owl-theme .owl-controls .owl-nav .owl-next::before {
	content: "\f054";
}
.clients .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
	background-color: #777;
}
.clients .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover::before {
	color: #fff;
}
/* - Contact Us */
.contact-us {
	padding-top: 100px;
	padding-bottom: 50px;
}
.contact-us .contact-heading {
	margin-bottom: 50px;
}
.contact-us .contact-heading h5 {
	color: #232323;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.96px;
	line-height: 36px;
	margin-top: 0;
	margin-bottom: 25px;
	position: relative;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.contact-us .contact-heading h5::after {
	background-color: #ffcd5f;
	content: "";
	height: 6px;
	width: 84px;
	left: 0;
	bottom: 0;
	position: absolute;
}
.contact-us .contact-heading p {
	color: #888;
	line-height: 28px;
	letter-spacing: 0.56px;
	margin-bottom: 0;
}
.contact-us table {
	table-layout: auto;
}
.contact-us .table tr > td, .table > tbody > tr > th,  
.contact-us .table tr > td, .table  > tr > th {
	padding: 12px;
}
.contact-us .table-bordered tr th {
	color: #156fbe;
	font-size: 18px;
	text-align: center;
}
.contact-us .table-bordered tr td {
	color: #232323;
	font-weight: 500;
	letter-spacing: 0.56px;
	padding: 12px 30px;
}
.contact-us .table-bordered tr td > a {
	color: #232323;
	text-decoration: none;
}

/* - Error Page */
.error-page {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
}
.error-page h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 250px;
	letter-spacing: 15px;
	margin-top: 0;
}
.error-page span {
	color: #777;
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.96px;
	line-height: 34px;
	margin-bottom: 45px;
}
.error-page a {
	background-color: #186fbe;
	border-radius: 5px;
	border: 1px solid #186fbe;
	color: #fff;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.52px;
	line-height: 28px;
	padding: 10px 28px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.error-page a i {
	padding-left: 10px;
}
.error-page a:hover {
	background-color: transparent;
	color: #186fbe;
}

/* ========================================================================== */
	/* + Responsive */
/* ========================================================================== */

/* - min-width: 1367px */
@media (min-width: 1367px) {
	/* - Search */
	.header_s1 .search-box {
		right: 20%;
	}
}

/* - min-width: 1200px */
@media (min-width: 1200px) {
	.callback-form .container {
		padding: 0 !important;
	}
}

/* - min-width: 992 */
@media (min-width: 992px) {
	
	/* Portfolio Video Layout 2 And 3 */
	.portfolio-1 iframe  {
		height: 180px !important;
	}
	.portfolio-2 iframe  {
		height: 180px!important;
	}
	.portfolio-3 iframe  {
		height: 399px!important;
	}
	.portfolio-4 iframe  {
		height: 200px!important;
	}
	.portfolio-5 iframe  {
		height: 399px!important;
	}
	.portfolio-6 iframe  {
		height: 122px!important;
	}
	.portfolio-7 iframe  {
		height: 122px!important;
	}
	.portfolio-8 iframe  {
		height: 250px!important;
	}
	
	/* - Header */
	.header_s1 .ownavigation.navbar-fixed-top .navbar-brand {
		padding-top: 11px;
		padding-bottom: 12px;
	}
	.header_s1 .ownavigation.navbar-fixed-top .navbar-brand > img {
		max-width: 55px;
	} 
	.header_s1 .ownavigation.navbar-fixed-top .navbar-nav > li > a {
		margin-top: 27px;
		margin-bottom: 26px;
	}
	.header_s1 .ownavigation.navbar-fixed-top .search {
		padding: 35px 0 30px;
	}
	
	/* - Services Section */
	.services-section .row [class*="col-md-"]:nth-child(3n+1) {
		clear: both;
	}
	.about-section.about-section2 .about-content-left .row .about-box:nth-child(2n+1) {
		clear: both;
	}
	
	/* - Gallery Section2 */
	.gallery-section2 .row {
		margin-left: -10px;
		margin-right: -10px;
	}
	
	/* - Counter Section */
	.counter-section .row [class*="col-md-"]:nth-child(4n+1) {
		clear: both;
	}
}

/* - min-width: 768 */
@media (min-width: 768px) {

	.tax-maxelectric_portfolio_tax .gallery-section:nth-child(n+4) {
		margin-top: 30px;
	}
	.tax-maxelectric_portfolio_tax .gallery-section:nth-child(3n+1) {
		clear: both;
	}
}

/* - max-width: 1600px */
@media (max-width: 1600px) {
	.testimonial-section .owl-controls .owl-nav .owl-prev {
		left: -5%;
	}
	.testimonial-section .owl-controls .owl-nav .owl-next {
		right: -5%;
	}
}

/* - max-width: 1366px */
@media (max-width: 1366px) {
	
	/* - Testimonial Section */
	.testimonial-section .owl-theme .owl-controls .owl-nav [class*="owl-"] {
		position: relative;
	}
	.testimonial-section .owl-controls .owl-nav .owl-prev {
		left: 0;
	}
	.testimonial-section .owl-controls .owl-nav .owl-next {
		right: 0;
	}
	
	/* - Clients */
	.clients .owl-theme .owl-controls .owl-nav [class*="owl-"] {
		position: relative;
	}
	.clients .owl-controls .owl-nav .owl-prev {
		left: 0;
	}
	.clients .owl-controls .owl-nav .owl-next {
		right: 0;
	}
}

/* - max-width: 1200px */
@media (max-width: 1200px) {
	/* - Header */
	.header_s1 .navbar-brand {
		max-width: 230px;
		padding-bottom: 25px;
		padding-top: 25px;
	}
	.header_s1 .ownavigation .navbar-nav > li {
		margin-left: 0;
		margin-right: 0;
	}
	.header_s1 .ownavigation .navbar-nav > li > a {
		padding: 8px 14px;
	}
	
	/* - Services Section */
	.services-section2 .srv-box {
		padding: 32px 26px;
	}
	
	/* - Gallery Section */
	.gallery-section .content-image-block::after {
		left: 25px;
		right: 25px;
		top: 25px;
		bottom: 25px;
	}
	.gallery-section .content-block-hover h5 {
		font-size: 16px;
	}
	
	/* - Testimonial Section */
	.testimonial-section .owl-nav {
		display: none;
	}
}	

/* - min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/* - Header */
	.header_s1 .search-box {
		right: 30px;
	}
	
	/* - Who We Are */
	.we-are-form {
		padding: 30px;
	}
	.we-are-form h5 {
		margin-bottom: 15px;
	}
	.we-are-form .form-group {
		margin-bottom: 10px;
	}
	
	/* - Gallery Section */
	.gallery-section .content-image-block::after {
		bottom: 15px;
		left: 15px;
		right: 15px;
		top: 15px;
	}
	.gallery-section .content-block-hover h5 {
		margin-bottom: 0;
	}
	.gallery-section .content-block-hover h5 a {
		font-size: 15px;
		margin-bottom: 5px;
	}
	.gallery-section .content-block-hover span a {
		font-size: 12px;
	}
	
	.widget_latestposts .latest-content > a > i {
		max-width: 85px;
	}
	.widget_latestposts .latest-content {
		padding-left: 100px;
	}
	
	/* - Counter Section */
	.counter-section .counter-box {
		padding-left: 75px;
	}
	.counter-section .counter-box i {
		font-size: 45px;
	}
	
	footer .widget_calendar tbody #today {
		height: 30px;
		line-height: 30px;
		width: 30px;
	}
}

/* - max-width: 991 */
@media (max-width: 991px) {
	/* - Header */
	.top-header .contact-block p {
		padding-right: 8px;
	}
	.header_s1 .ownavigation > .container {
		position: relative;
	}
	.header_s1 .navbar-brand {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.header_s1 .ownavigation .navbar-nav > li > a {
		padding: 8px 0;
	}
	.header_s1 .search {
		position: absolute;
		top: 0;
		right: 100px;
		padding: 30px 0;
		z-index: 3;
	}
	.header_s1 .search-box {
		right: 130px;
	}
	
	/* - Footer */
	.footer-main .col-sm-6  {
		margin-bottom: 30px;
	}
	.footer-main .col-sm-6:nth-child(2n+1) {
		clear: both;
	}
	.footer-main ul.footer-social {
		margin-top: 25px;
	}
	.footer-main .widget.widget_links {
		padding-left: 0;
	}
	
	/* - About Section */
	.about-section .col-xs-6:nth-child(3n+1) {
		clear: both;
	}
	.about-section .about-img {
		text-align: center;
	}
	
	/* - Gallery Section */
	.gallery-section li.medium .content-image-block {
		max-width: 294px;
		display: block;
		margin: 0 auto;
	}
	.gallery-section .content-image-block::after {
		bottom: 15px;
		left: 15px;
		right: 15px;
		top: 15px;
	}
	.gallery-section .content-block-hover h5 {
		margin-bottom: 0;
	}
	.gallery-section .content-block-hover h5 a {
		font-size: 15px;
		margin-bottom: 5px;
	}
	.gallery-section .content-block-hover span a {
		font-size: 12px;
	}
	
	/* - Gallery Section2 */
	.gallery-section2 li.small .content-image-block {
		display: block;
		max-width: 278px;
		margin: 0 auto;
	}
	
	.gallery-section2 .content-block-hover h5 {
		margin-bottom: 0;
	}
	
	/* - Gallery Single */
	.related-images .col-sm-4 {
		margin-bottom: 30px;
	}
	
	/* - Product Section 1 */
	.product-section-1 .products .product:nth-child(4n+1) {
		clear: right;
	}
	
	/* - Counter Section */
	.counter-section .counter-box {
		padding-left: 75px;
	}
	.counter-section .counter-box i {
		font-size: 45px;
	}
	
	/* - Latest Blog */
	.post-right article[class*="type-"] {
		padding-bottom: 20px;
	}
	
	/* - Call Out */
	.call-out .call-out-content a {
		float: none;
		margin-top: 15px;
	}
	
	/* - Testimonial Section */
	.testimonial-section .testi-box img {
		left: 15px;
	}
	.testimonial-section .testi-box {
		padding: 35px 30px 35px 115px;
	}
	
	/* - Who We Are */
	.form-box {
		display: block;
		max-width: 498px;
		margin: 0 auto;
	}
	
	.we-are-form {
		padding: 25px;
	}
	.we-are-form h5 {
		font-size: 21px;
		margin-bottom: 20px;
	}
	
	/* - Team Section */
	.team-section .team-details-tab .tab-img {
		display: block;
		margin: 0 auto;
	}
	.team-section .team-details-tab .nav > li > a {
		padding: 0 0 53px 135px;
	}

	.widget_latestposts .latest-content > a > i {
		max-width: 85px;
	}
	.widget_latestposts .latest-content {
		padding-left: 100px;
	}	
	
	.author-block .author-box img {
		max-width: 100px;
	}
	.author-block .author-box {
		padding-left: 120px;
	}
	
	.callback-form .form-bg .wpcf7-form {
		margin-top: 0;
	}
	
	.page-banner .page-subtitle {
		margin-bottom: 0;
	}	
	.page-banner .banner-content h3 {
		text-align: center;
		width: 100%;
	}
}

/* - min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	/* Portfolio Video Layout 2 And 3 */
	.portfolio-1 iframe  {
		height: 180px !important;
	}
	.portfolio-2 iframe  {
		height: 180px!important;
	}
	.portfolio-3 iframe  {
		height: 399px!important;
	}
	.portfolio-4 iframe  {
		height: 200px!important;
	}
	.portfolio-5 iframe  {
		height: 399px!important;
	}
	.portfolio-6 iframe  {
		height: 122px!important;
	}
	.portfolio-7 iframe  {
		height: 122px!important;
	}
	.portfolio-8 iframe  {
		height: 250px!important;
	}
	
	/* - Blog Post */
	.comment-section .media.media-even {
		padding-left: 50px;
	}
	
	/* - Services Section */
	.services-section .row [class*="col-md-"]:nth-child(2n+1) {
		clear: both;
	}
	
	.counter-section .container [class*="col-md-"]:nth-child(3n+1) {
		clear: both;
	}
	
	.callback-form .form-bg .wpcf7-form .wpcf7-form-control {
		font-size: 16px;
	}
	
	.woocommerce ul.products li.product .button {
		margin-left: 0;
	}
	.product-section.woocommerce ul.products li.product, 
	.product-section.woocommerce-page ul.products li.product {
		margin-bottom: 30px;
	}
	.about-section.about-section2 .about-content-left .row .about-box:nth-child(2n+1) {
		clear: both;
	}
}

/* - max-width: 767 */
@media (max-width: 767px) {
	
	/* - Header1 */
	.top-header .header-social {
		width: 100%;
		text-align: center;
	}
	.top-header .contact-block {
		float: none;
		margin-top: 10px;
		text-align: center;
		width: 100%;
	}
	.header_s1 .search-box {
		right: 80px;
	}
	
	/* - Gallery Section */
	.gallery-section .portfolio-categories li {
		margin-bottom: 15px;
	}
	
	/* - Gallery Section2 */
	.gallery-section2 li.wide {
		width: 100%;
	}
	.gallery-section2 li.wide .content-image-block {
		display: block;
		margin: 0 auto;
		max-width: 576px;
	}
	
	/* - Gallery Single */
	.project-detail {
		max-width: 365px;
	}
	.tax-maxelectric_portfolio_tax .gallery-section:nth-child(n+3) {
		margin-top: 30px;
	}
	.tax-maxelectric_portfolio_tax .gallery-section:nth-child(2n+1){
		clear: both;
	}
	
	/* - Product Section 1 */
	.product-section-1 .ow-pagination {
		padding-left: 15px;
	}
	
	/* - Error Page */
	.error-page h3 {
		font-size: 135px;
	}
	
	.widget_latestposts .latest-content {
		margin-bottom: 15px;
	}
	
	body .rev_slider .uranus.tparrows {
		height: 35px !important;
		width: 35px !important;
		line-height: 35px !important;
	}
	body .rev_slider .uranus.tparrows::before {
		font-size: 26px !important;
		height: 35px !important;
		width: 35px !important;
		line-height: 35px !important;
	}

	.section-header h3 {
		font-size: 28px;
		line-height: 40px;
	}
	
	/* - Counter Section */
	.counter-section .counter-box {
		padding-left: 60px;
	}
	.counter-section .counter-box i {
		font-size: 35px;
	}
	.counter-section .counter-box span {
		font-size: 28px;
		margin-bottom: 10px;
		padding-bottom: 15px;
	}	
	.counter-section .container [class*="col-md-"]:nth-child(2n+1) {
		clear: both;
	}
	
	.call-out .call-out-content p {
		padding-right: 0;
	}
	.call-out .call-out-content a {
		position: relative;
		transform: none;
		margin-top: 15px;
	}
	.callback-form .form-bg .wpcf7-form .wpcf7-form-control {
		font-size: 14px !important;
	}
	.callback-form .form-bg h5 {
		margin-bottom: 10px !important;
		margin-top: 10px !important;
	}
	.callback-form .wpcf7-form span.wpcf7-not-valid-tip,
	.callback-form .wpcf7-form div.wpcf7-mail-sent-ng,
	.callback-form .wpcf7-form div.wpcf7-validation-errors {
		line-height: 20px !important;
	}

	.contact-us .wpcf7-form {
		margin-top: 30px;
	}
}

/* -  max-width: 639 */
@media (max-width: 639px) {
	
	/* - Slider Section */
	.callback-form .form-bg {
		padding: 10px 15px !important;
	}
	.callback-form .form-bg h5 {
		font-size: 16px;
	}
	.callback-form .form-bg input[type="submit"] {
		padding: 6px 18px;
	}
	
	/* + Page Banner */
	.page-banner .banner-content {
		text-align: center;
	}
	.page-banner .banner-content h3 {
		margin-bottom: 15px;
	}
	.page-banner .banner-content .breadcrumb {
		float: left;
	}
	
	/* - Services Section */
	.services-section .col-xs-6 {
		width: 100%;
	}
	.services-section .srv-box {
		max-width: 350px;
		display: block;
		margin: 0 auto 30px;
	}
	
	/* - About Section */
	.about-section .col-xs-6 {
		width: 100%;
	}
	
	/* - Gallery Section2 */
	.gallery-section2 .content-block-hover h5 {
		font-size: 14px;
	}
	
	/* - Blog Post */
	.comment-section .media.media-even {
		padding-left: 25px;
	}
}

/* -  max-width: 479 */
@media (max-width: 479px) {
	
	/* - Header */
	.header_s1 .navbar-brand {
		max-width: 170px;
		padding-top: 22px;
		padding-bottom: 22px;
	}
	.header_s1  #loginpanel {
		right: 95px;
	}
	.header_s1 .search {
		right: 78px;
	}
	.header_s1 .search > a {
		padding: 0 0 0 12px;
	}
	
	/* - Footer */
	.footer-main .col-sm-6 {
		width: 100%;
	}
	
	/* + Pagination */
	.ow-pagination .pagination > li:first-child > a, 
	.ow-pagination .pagination > li:last-child > a {
		width: 60px;
	}
	.ow-pagination ul li a {
		width: 34px;
	}
	
	/* - Gallery Section */
	.portfolio-list li.col-xs-6 {
		width: 100%;
	}
	
	/* - Gallery Section2 */
	.gallery-section2 .content-image-block::after {
		left: 15px;
		right: 15px;
		top: 15px;
		bottom: 15px;
	}
	.gallery-section2 .content-block-hover > a {
		height: 35px;
		width: 35px;
		line-height: 34px;
	}
	.gallery-section2 li.small {
		width: 100%;
	}
	.gallery-section2 li.medium .content-image-block {
		display: block;
		margin: 0 auto;
		max-width: 294px;
	}
	
	.tax-maxelectric_portfolio_tax .gallery-section {
		width: 100%;
	}
	.tax-maxelectric_portfolio_tax .gallery-section:nth-child(n+2){
		margin-top: 30px;
	}
	
	/* - Gallery Single */
	.related-images .col-xs-4 {
		width: 100%;
		text-align: center;
	}
	
	/* - Counter Section */
	.counter-section {
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.counter-section .col-xs-6 {
		width: 100%;
		text-align: center;
	}
	.counter-section .counter-box {
		display: block;
		margin: 0 auto 30px;
		max-width: 200px;
		text-align: left;
	}
	
	/* - Blog Section */
	article[class*="type-"] .entry-meta {
		position: relative;
		padding: 10px 0;
	}
	article[class*="type-"] .entry-cover a.popup-youtube {
		top: 40%;
	}
	
	/* - Blog Post */
	.author-block .author-box {
		padding-left: 100px;
	}
	.author-block .author-box img {
		max-width: 85px;
	}
	.comment-section .media {
		padding: 15px;
	}
	.comment-section .media-left img {
		max-width: 80px;
	}
	.comment-section .media-content {
		margin-left: 10px;
	}
	.comment-section .media-content a {
		display: block;
		float: none;
		margin-bottom: 5px;
	}
	
	/* - Latest Blog */
	.post-right .entry-cover img {
		max-width: 90px;
	}
	.post-right article[class*="type-"] {
		padding-left: 105px;
	}
	
	.latest-blog article[class*="type-"] h3.entry-title,
	.latest-blog article[class*="type-"] .entry-content p {
		padding-right: 0;
	}
	
	/* - Call Out */
	.call-out .call-out-content h5 {
		font-size: 20px;
	}
	/* - Who We Are */
	.we-are-form {
		padding: 20px 35px;
	}
	.we-are-form .form-group {
		margin-bottom: 8px;
	}
	.we-are-form .form-control {
		padding: 12px 20px;
	}
	.we-are-form h5 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	
	/* - Team Section */
	.team-section .team-details-tab .team-content > span {
		display: block;
		margin-left: 0;
	}
	
	/* - CallBack Form */
	.callback-form .form-bg h5{
		font-size: 15px !important;
	}
	.callback-form .wpcf7-response-output,
	.callback-form .form-bg .wpcf7-form .wpcf7-form-control {
		font-size: 13px !important;
	}
	.callback-form .form-bg .wpcf7-form .wpcf7-form-control.wpcf7-submit {
		font-size: 12px !important;
	}
	.callback-form .wpcf7-form span.wpcf7-not-valid-tip,
	.callback-form .wpcf7-form div.wpcf7-mail-sent-ng,
	.callback-form .wpcf7-form div.wpcf7-validation-errors {
		line-height: 20px !important;
	}
}

/* -  max-width: 360 */
@media (max-width: 360px) {
	
	/* - Header */
	.header_s1 .search-box {
		right: 60px;
	}
	
	/* - Who We Are */
	.we-are-form {
		padding: 5px 25px;
	}
	.we-are-form .form-group {
		margin-bottom: 8px;
	}
	.we-are-form .form-control {
		padding: 6px 20px;
	}
	.we-are-form h5 {
		font-size: 13px;
		margin-bottom: 0;
	}
	.we-are-form input[type="submit"] {
		padding: 7px 25px;
	}
}
