/*----------------------------
	Theme Name: Maxelectric	
-------------------------------*/

/*
	[Table of Content]
	- Woocommerce
	- WooCommerce Order Received
	- Grid
	- Widgets
	- Recent Product Carousel
	- Product Categories
	- Layred Nav
	- Price Filter
	- Product Search
	- Products
	- Top Rated Products
	- Product List
	- Woocommerce Pagination
	- Page Title
	- Title
	- Star Rating
	- Price
	- Woocommerce Widgets Setting
	- Button
	- Sale Flash
	- Review Form
	- Variations
	- Tab
	- Wishlist Button
	- Woocommerce Form
	- Upsells Products
	- Woocommerce Account
	
	- Responsive
		- min-width: 1200
		- min-width: 992
		- min-width: 992 to max-width: 1199
		- max-width: 991
		- min-width: 768 to max-width: 991
		- max-width: 767
		- max-width: 479
		- max-width: 400	
*/

/* - Woocommerce */
.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
	opacity: 1;
}
.woocommerce a.remove {
	display: inline-block;
}
.woocommerce table.shop_table {
	text-align: center;
	border-radius: 0;
	border: 1px solid #888;
	margin-bottom: 0;
}
.woocommerce table.shop_table .product-name a {
	color: #000;
	font-size: 15px;
}
.woocommerce table.shop_table th {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.56px;
}
.woocommerce-cart .cart-collaterals .cart_totals table {
	border: none;
	line-height: 0;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
	margin-top: 30px;
}
.woocommerce-checkout #place_order {
	font-size: 14px;
	font-weight: 400;
}

#add_payment_method .cart-collaterals .cart_totals table td,
#add_payment_method .cart-collaterals .cart_totals table th, 
.woocommerce-cart .cart-collaterals .cart_totals table td, 
.woocommerce-cart .cart-collaterals .cart_totals table th, 
.woocommerce-checkout .cart-collaterals .cart_totals table td,
.woocommerce-checkout .cart-collaterals .cart_totals table th {
	vertical-align: middle;
}
.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	width: auto;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	box-shadow: none;
	outline: none;
}
.woocommerce-cart .woocommerce table.shop_table td {
	padding: 20px 12px;
}
.woocommerce a.added_to_cart {
	font-size: 13px;
	color: #000;
	position: relative;
	z-index: 1;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	width: 100%;
}
.woocommerce .blockUI.blockOverlay::before,
.woocommerce .loader::before {
	background: transparent;
}
.woocommerce #reviews #comments ol.commentlist {
	padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size: 14px;
}
.woocommerce .page-title {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.woocommerce div.product form.cart .reset_variations{
	color: #000;
	text-align: left;
	font-size: 14px;
}
.woocommerce div.product div.images img {
	width: auto;
}
.woocommerce .wishlist-title h2,
.woocommerce-billing-fields h3 {
    color: #030303;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.64px;
    line-height: 30px;
    margin-top: 0;
    word-wrap: break-word;
    text-transform: uppercase;
}
.woocommerce-shipping-fields h3,
.woocommerce-billing-fields h3 {
	color: #333;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.45px;
	line-height: 28px;
	margin-bottom: 30px;
	margin-top: 0;
	padding-bottom: 15px;
	position: relative;
	text-transform: uppercase;
}
.woocommerce-shipping-fields h3::before,
.woocommerce-billing-fields h3::before {
	background-color: #ffb617;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 81px;
}

.woocommerce-LostPassword,
.woocommerce .woocommerce-LostPassword a {
    color: #000;
    text-decoration: none;
}
.woocommerce table.wishlist_table th,
.woocommerce table.wishlist_table tbody td {
	font-size: 13px;
}

#customer_details .form-row label {
	color: #333;
	font-size: 13px;
	letter-spacing: 0.52px;
	margin-bottom: 18px;
	text-transform: uppercase;
}

/* - WooCommerce Order Received */
.woocommerce-order-received .woocommerce-thankyou-order-received {
	margin-bottom: 15px;
}
.woocommerce-order-received .woocommerce .title h3 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
}
.woocommerce-order-received .woocommerce .woocommerce-thankyou-order-details.order_details {
	border: 1px solid #000;
	padding: 15px;
	margin-bottom: 15px;
}
.woocommerce-order-received .woocommerce .order_details li {
	border-right: 1px solid #000;
	float: left;
	font-size: 14px;
	line-height: 1;
	list-style-type: none;
	margin-left: 0;
	margin-right: 20px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 20px;
	text-transform: uppercase;
}
.woocommerce-order-received .woocommerce .order_details li:last-of-type {
	border: none;
	margin-right: 0;
	padding-right: 0;
}
.woocommerce .order_details li strong {
	font-size: 16px;
	text-transform: capitalize;
	margin-top: 5px;
}
.woocommerce-order-received p {
	line-height: 24px;
}
.woocommerce-order-received h2 {
	color: #333;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.45px;
    line-height: 28px;
    margin-top: 0;
    position: relative;
    text-transform: uppercase;	
}
.woocommerce-order-received .shop_table.order_details .product-name a {
	color: #000;
	text-decoration: none;
}


/*  [ - Grid ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	border: 1px solid #dfdfdf;
	float: left;
	padding-bottom: 40px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	position: relative;
	text-align: center;
	margin-bottom: 70px;
}
.woocommerce ul.products li.product .product_hover {
	position: relative;
}
.woocommerce ul.products li.product .product_hover::before  {
	background-color: rgba(0, 0, 0, 0.49);
	content: "";
	display: inline-block;
	opacity: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.woocommerce ul.products li.product .product_hover:hover::before{
	opacity: 1;
}

.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
	color: #888;
}
.woocommerce .woocommerce-ordering {
	margin-bottom: 40px;
}

/*  [ - Widgets ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
	padding-bottom: 15px;
}
.woocommerce  .widget-area .widget ul li::before {
	background: none;
}
.woocommerce .widget_rating_filter ul li a{
	float: right;
	line-height: 28px;
	text-align: right;
	width: 100%;
}
.woocommerce .widget_rating_filter ul li a::before {
	content: "";
}
.woocommerce .widget_rating_filter ul li .star-rating {
    float: left;
    height: 18px;
    position: relative;
    top: 4px;
}

/* - Recent Product Carousel */
.widget.widget_recent_products_carousel ul {
    padding: 0;
	list-style: none;
}
.widget.widget_recent_products_carousel .carousel-inner > .item {
	margin-bottom: 5px;
}
.sidebar  .widget.widget_recent_products_carousel ul,
.sidebar  .widget.widget_recent_products_carousel li {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.widget_recent_products_carousel li.item h4,
.widget_recent_products_carousel li.item .amount {
    margin-bottom: 5px;
}
.widget_recent_products_carousel > ul > li > a {
	margin-top: 5px;
}
.widget_recent_products_carousel img{
	margin-bottom: 10px;
}
.widget_recent_products_carousel > ul > li > a span {
	margin-left: 5px;
}
.widget_recent_products_carousel li.item h4 a {
	color: #333;
	text-transform: capitalize;
}

/* - Product Categories */
 .widget_product_categories > ul:first-of-type {
	padding-left: 0;
}
.widget_product_categories .children > li:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

/* - Layred Nav */
.woocommerce .widget_layered_nav ul li {
	padding-bottom: 12px;
}
.woocommerce .widget_layered_nav ul li:hover a,
.woocommerce .widget_layered_nav ul li:hover span {
	color: #0084b4;
}
.woocommerce .widget_layered_nav ul li a {
	padding-left: 0;
}
.woocommerce .widget_layered_nav ul li a::before {
	content: "";
}

/* - Price Filter */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	height: 6px;
	background: #cfcfcf;
	border: 0;
	position: relative;
	border-radius: 0;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider-range {
	background: #ebebeb ;
	z-index: 1;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	box-shadow: none;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #fff;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-state-default {
	cursor: move;
	height: 12px;
	width: 12px;
	border: 1px solid #0084b4;
	color: #555;
	position: absolute;
	z-index: 2;
	top: -3px;
	transition: none;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius:0;
}

.woocommerce .widget_price_filter .price_slider_wrapper .price_label {
	display: inline-block;
	text-align: left;
	color: #777;
	font-size: 12px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_label span {
	color: #353533;
	font-weight: 700;
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount {
	margin: 20px 0 0;
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount .button {
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	padding: 0 25px;
	text-shadow: none;
	border-radius: 0;
	height: auto;
	line-height: 33px;
	font-weight: 400;
}
.woocommerce .widget_price_filter .price_slider_wrapper .price_slider_amount .button:hover {
	background: #353533;
}

/* - Product Search */
.widget_product_search input#s {
	width: 100%;
	outline: none;
}
.widget_product_search input#searchsubmit {
	display: none;
	outline: none;
}

/* - Products */
.widget.widget_products > ul {
    padding-left: 0;
}
.widget.widget_products .product_list_widget li > a {
	display: block;
}

/* - Top Rated Products */
.sidebar .widget.widget_top_rated_products > ul {
	padding-left: 0;
}
.widget_top_rated_products .star-rating {
	margin-bottom: 5px;
	height: 18px;
}
.widget.widget_top_rated_products ul li a {
    display: block;
}

.woocommerce .cart-collaterals .cart_totals table tr th,
.woocommerce-page .cart-collaterals .cart_totals table tr th {
	padding: 20px;
}
/* - Product List */
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-left: 0 !important;
}
.woocommerce ul.cart_list li:last-of-type,
.woocommerce ul.product_list_widget li:last-of-type {
	margin-bottom: 0;
}
.widget.woocommerce ul.product_list_widget li a {
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 5px;	
	padding-left: 0;
}
.widget.woocommerce ul.product_list_widget li a::before {
	content: "";
}

.widget.woocommerce ul.product_list_widget li a:hover span {
    color: #0084b4;
}
.widget.woocommerce ul.product_list_widget li:before {
	display: none;
}
.widget.woocommerce ul.product_list_widget li img {
	box-shadow: none;
	margin: 0 10px 0 0;
	width: 80px;
	height: auto;
	float: left;
	border: 1px solid transparent;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
}
.widget.woocommerce ul.product_list_widget li img:hover {
    border-color: #186fbe;
}
.woocommerce .cross-sells > h2,
.woocommerce .cart-collaterals .cart_totals h2,
.woocommerce-page .cart-collaterals .cart_totals h2 {
	color: #030303;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.64px;
	line-height: 30px;
	margin-top: 0;
	word-wrap: break-word;
	text-transform: uppercase;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	left: auto;
	right: 0;
	top: auto;
	border-radius: 2px;
	color: #333;
	line-height: 13px;
	text-align: center;
}
.widget.woocommerce ins {
	background: none;
}
.widget.woocommerce del .amount {
	color: #979797;
}
.widget.woocommerce .total {
	margin-bottom: 12px;
	text-align: center;
}
.widget.woocommerce .buttons {
	margin: 0;
	padding: 0;
	text-align: center;
}
.widget.woocommerce .buttons a {
	font-size: 13px;
	font-weight: 400;
	height: 33px;
	line-height: 33px;
	margin: 0 10px 5px;
	padding: 0 10px;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit[disabled]:disabled,
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button[disabled]:disabled,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button[disabled]:disabled,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled, 
.woocommerce input.button[disabled]:disabled {
	opacity: 1;
	color: #fff;
	outline: none;	
}
.woocommerce .cross-sells ul.products li.product .product_type_simple.add_to_cart_button{
	position: relative;	
	display: block;
}

/* - Variations */
.woocommerce .summary.entry-summary .variations .label {
	color: #979797;
	font-size: 15px;
	line-height: 31px;
	float: left;
	text-transform: capitalize;
}

.entry-summary p {
	font-size: 15px;
	color: #777;
	line-height: 24px;
}

/* - Product Search */
.woocommerce-product-search input[type="search"] {
	border: 1px solid #ccc;
	border-radius: 0;
	padding: 5px 10px;
	width: 70%;
	outline: none;
	margin-right: 5px;
}
.search-field {
	height: 35px;
	padding: 5px;
}
.woocommerce-product-search input[type="submit"] {
	border: 1px solid transparent;
	border-radius: 0;
	padding: 5px 7px;
	background-color: #186fbe;
	color: #fff;
	width: 25%;
	height: 35px;
	outline: none;
}

/*  [ - Woocommerce Pagination ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce nav.woocommerce-pagination {
	text-align: left;
}
.woocommerce nav.woocommerce-pagination ul {
	border: none;
}
.woocommerce nav.woocommerce-pagination ul li {
	border: 0 none;
	margin: 0 5px;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: #186fbe;
	color: #fff;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {	
	background-color: transparent;
    color: #888;
    font-size: 14px;
	background-color: #d9d9d9;
    padding: 0;
	position: relative;
	display: inline-block;
	font-weight: 700;
	padding: 12px 21px;
    text-align: center;
    transition: all 1s ease 0s;   
	letter-spacing: 0.52px;
}
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: #186fbe;
	border-color: #186fbe;
}

/*  [ - Page Title ]
- - - - - - - - - - - - - - - - - - - - */
.ow-woocommerce > .page-title {
	display: none;
}

/*  [ - Title ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce ul.products li.product a img {
	width: auto;
	margin-bottom: 30px;
}
.woocommerce ul.products li.product h3 {
    color: #000;
    font-size: 13px;
	line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;	
	outline: 0 none;
}
.woocommerce ul.products li.product h3:hover {
	color: #186fbe;
}
.woocommerce div.product .product_title {
	color: #232323;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.72px;
	line-height: 28px;
	margin-bottom: 20px;
	margin-top: 0;
	padding-bottom: 20px;
	position: relative;
	text-transform: uppercase;
}
.woocommerce div.product .product_title::before {
	background-color: #ffb617;
	content: "";
	height: 3px;
	width: 62px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 auto;
}
.single-product .summary.entry-summary > div[itemprop="description"]{
	margin-top: 25px;
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
}
.single-product .summary.entry-summary div[itemprop="description"] .wc-tabs-wrapper{
	padding: 0;
}

/*  [ - Star Rating ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce .star-rating {
	height: 18px;
}
.woocommerce .star-rating span::before {
	color: #186fbe
}

.woocommerce ul.products li.product .star-rating {	
	margin: 15px auto 7px;
    text-align: center;
}

/*  [ - Price ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce ul.products li.product .price del {
	opacity: 1;
}
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product > a span.price {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	z-index: 1;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.56px;
	text-transform: uppercase;
	line-height: 24px;
	text-align: center;
	color: #232323;	
}
.woocommerce ul.products li.product h3 {
    margin-bottom: 8px;
    padding-bottom: 12px;
	font-size: 14px;
}
.woocommerce ul.products li.product h3::after {
	background-color: #ffb617;
	content: "";
	height: 3px;
	width: 62px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.woocommerce ul.products li.product.product-type-simple .price {
	min-height: 34px;
}

/* - Woocommerce Widgets Setting [Blog default style removed] */
.woocommerce.widget ul li::before{
	content: "";
	display: none;
}
.widget.woocommerce.widget_product_categories ul li {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.widget.woocommerce.widget_product_categories ul li a {	
	width: 100%;
	display: inline-block;
	position: relative;
}
.widget.woocommerce ul.children {
	margin-top: 0;
	padding-left: 10px;
}

/*  [ - Button ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce #content input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce-page #content input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active {
	top: 0;
}
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
	background-color: #156fbe;
	border: 1px solid #156fbe;
	border-radius: 5px;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	outline: none;
	line-height: 24px;
	padding: 5px 22px;
	text-transform: uppercase;
	transition: all 1s ease 0s;
}
.woocommerce .single_variation_wrap .single_add_to_cart_button {
	font-weight: 400;
}

.woocommerce-cart.woocommerce-page .cart-collaterals a.button,
.woocommerce-cart table.shop_table .button {
	font-size: 14px;
	font-weight: 400;
	padding: 12px 30px!important;
}

#add_payment_method .cart-collaterals .cart_totals table td, 
#add_payment_method .cart-collaterals .cart_totals table th, 
.woocommerce-cart .cart-collaterals .cart_totals table td, 
.woocommerce-cart .cart-collaterals .cart_totals table th, 
.woocommerce-checkout .cart-collaterals .cart_totals table td, 
.woocommerce-checkout .cart-collaterals .cart_totals table th {
	line-height: 0;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {	
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	color: #777;
	font-size: 15px;
	min-height: 43px;
	margin-right: 15px;
	outline: none;
	padding-left: 18px;
	padding-right: 18px;
	text-transform: capitalize;
}
.woocommerce-checkout table.shop_table {
	text-align: left;
}

.single-product .woocommerce div.product p.price del,
.single-product .woocommerce div.product span.price del {
	font-size: 26px;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #000;
	font-size: 32px;
	letter-spacing: 1.8px;
}
.woocommerce #content div.product div.thumbnails a:last-of-type,
.woocommerce div.product div.thumbnails a:last-of-type,
.woocommerce-page #content div.product div.thumbnails a:last-of-type,
.woocommerce-page div.product div.thumbnails a:last-of-type {
	margin-bottom: 0;
}

.yith-wcwl-add-button.yith-wcwl-add-button .add_to_wishlist:hover {
	text-decoration: none;
}

.yith-wcwl-add-button.yith-wcwl-add-button .add_to_wishlist:hover,
.woocommerce-product-search input[type="submit"]:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background-color: transparent;
	color: #186fbe;
	border-color: #186fbe;
}

.woocommerce ul.products li.product .product_type_simple.add_to_cart_button {
	background-color: #156fbe;
	border: 1px solid #156fbe;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: all 1s ease 0s;
	word-wrap: break-word;
	white-space: normal;
}
.woocommerce ul.products li.product .product_type_simple.add_to_cart_button:hover {
	background-color: transparent;
	border-color: #186fbe;
	color: #186fbe;
}
.woocommerce ul.products li.product .button.product_type_variable.add_to_cart_button {
	padding-bottom: 9px;
	padding-top: 9px;
	bottom: 0;
	font-size: 13px;
	position: relative;
	right: 0;
	top: auto;
}
.woocommerce ul.products li.product .button {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;	
	white-space: normal;
	word-wrap: break-word;
}
.posted_in a,
.woocommerce-review-link {
	color: #156fbe;
	font-size: 15px;
	letter-spacing: 0.56px;
	text-decoration: none;
}
.posted_in a:hover,
.woocommerce-review-link:hover {
	color: #000;
}

/*  [ - Sale Flash ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale {
	background-color: #232323;
	color: #fff;
	font-weight: 600;
	position: absolute;
	left: 0;
	padding: 8px 24px;	
	line-height: 26px;
	letter-spacing: 1px;
	margin: 0 !important;
	min-height: 1px;
	right: auto !important;
	text-transform: uppercase;
	top: 0 !important;		
	display: inline-block;
    text-align: center;	
    font-size: 14px;
	z-index: 2;
	border-radius: 0;
}
.woocommerce ul.products li.product .onsale:hover,
.woocommerce span.onsale:hover {
	color: #ffb617;
}

/*  [ - Review Form ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce table.shop_attributes,
.woocommerce-page table.shop_attributes {
	border-left: 1px solid #666;
}
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_attributes th,
.woocommerce table.shop_attributes td,
.woocommerce-page table.shop_attributes td,
.woocommerce table.shop_attributes,
.woocommerce-page table.shop_attributes {
	border-style: solid;
	background: #fff;
	margin-bottom: 0;
}
.woocommerce table.shop_attributes td, 
.woocommerce table.shop_attributes th {
	border-left-color: rgba(0, 0, 0, 0.1);
	border-right-color: rgba(0, 0, 0, 0.1);
}
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_attributes th {
	padding: 10px;
}
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_attributes th,
.woocommerce table.shop_attributes td,
.woocommerce-page table.shop_attributes td {
	padding-left: 20px;
}
.woocommerce #reviews #comments h2,
.woocommerce-page #reviews #comments h2 {
	margin-bottom: 20px;
}
.woocommerce #reviews h3,
.woocommerce-page #reviews h3 {
	margin-bottom: 20px;
	color: #232323;
	text-transform: capitalize;
	font-size: 16px;
	line-height: 28px;
	font-family: "Lato",sans-serif;
}

/*  [ - Variations ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce #content div.product form.cart .variations,
.woocommerce div.product form.cart .variations,
.woocommerce-page #content div.product form.cart .variations,
.woocommerce-page div.product form.cart .variations,
.woocommerce #content div.product form.cart .variations td,
.woocommerce div.product form.cart .variations td,
.woocommerce-page #content div.product form.cart .variations td,
.woocommerce-page div.product form.cart .variations td {
	border: 0;
	padding: 0;
}

.woocommerce #content div.product form.cart .variations .value,
.woocommerce div.product form.cart .variations .value,
.woocommerce-page #content div.product form.cart .variations .value,
.woocommerce-page div.product form.cart .variations .value {
	position: relative;
}

table.variations {
	table-layout: inherit;
}

.woocommerce #content div.product form.cart .variations .value .reset_variations,
.woocommerce div.product form.cart .variations .value .reset_variations,
.woocommerce-page #content div.product form.cart .variations .value .reset_variations,
.woocommerce-page div.product form.cart .variations .value .reset_variations {
	clear: both;
}
.woocommerce #content div.product form.cart div.quantity,
.woocommerce div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity {
	margin-right: 10px;
}

.woocommerce .quantity .qty {
	line-height: 27px;
}
.woocommerce #content .quantity .minus,
.woocommerce .quantity .minus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page .quantity .minus,
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus,
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #a3a3a3;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	box-shadow: none;
}
.woocommerce #content .quantity .minus,
.woocommerce .quantity .minus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page .quantity .minus,
.woocommerce #content .quantity .minus
.woocommerce .quantity .minus
.woocommerce-page #content .quantity .minus
.woocommerce-page .quantity .minus {
	border-top: 0;
}
.woocommerce #content .quantity .minus,
.woocommerce .quantity .minus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page .quantity .minus,
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus {
	width: 29px;
	height: 29px;
	font-size: 15px;
	color: #fff;
	text-shadow: none;
}

.woocommerce #content .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover,
.woocommerce .quantity .minus:hover,
.woocommerce .quantity .plus:hover,
.woocommerce-page #content .quantity .minus:hover,
.woocommerce-page #content .quantity .plus:hover,
.woocommerce-page .quantity .minus:hover,
.woocommerce-page .quantity .plus:hover {
	background: #ff6766;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt[disabled]:disabled,
.woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover {
	background-color: #186fbe;
	color: #fff;
}

.woocommerce div.product form.cart .variations {
	margin-bottom: 0;
}
.woocommerce div.product form.cart .variations select {
	width: 100%;
	font-size: 15px;
}

.woocommerce-variation-price {
	margin-bottom: 15px;
}
.woocommerce-ordering {
	position: relative;
}
.woocommerce-ordering:before {
	right: 0;
}
.woocommerce-ordering:after {
	right: 12px;
}

/*  [ - Tab ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs {
	display: inline-block;
	width: 100%;
	margin-top: 25px;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin: 0;
	padding: 0;
	width: 100%;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	display: none;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
	border-radius: 0;
	margin: 0;
	border: 1px solid #ddd;
	border-bottom: none;
	padding: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #232323;
	text-shadow: none;
	letter-spacing: 0.64px;
	padding: 12px 18px;
	border-top: 2px solid transparent;
	outline: 0 none;
	font-family: "Lato",sans-serif;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	color: #888;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background-color: #186fbe;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: #888 !important;
	background-color: #ddd;
}
.woocommerce #content div.product .woocommerce-tabs h2,
.woocommerce div.product .woocommerce-tabs h2 {
	display: none;
}
.woocommerce #content div.product .woocommerce-tabs .entry-content,
.woocommerce div.product .woocommerce-tabs .entry-content {
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #ddd;
	color: #888;
	margin-bottom: 35px;
	padding: 20px !important;
	position: relative;
}
.woocommerce p.stars a {
	color: #888;
}
.woocommerce-Tabs-panel--description p {
	color: #777;
	font-size: 15px;
	line-height: 24px;
}
.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
	margin-bottom: 0;
}

/*  [ - Wishlist Button ]
- - - - - - - - - - - - - - - - - - - - */
.summary .yith-wcwl-add-to-wishlist .add_to_wishlist,
.summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse,
.summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse,
.single-share .social li a {
    background-color: #ededed;
    border-radius: 0;
    color: #383838;
    line-height: 34px;
	display: inline-block;
    margin: 15px 0;
    padding: 5px 30px;
	font-weight: 600;
	text-transform: uppercase;
    position: relative;
    text-align: center;
	border: 1px solid transparent;
}
.summary .yith-wcwl-add-to-wishlist .add_to_wishlist:hover {
	border-color: #186fbe;
}

.yith-wcwl-wishlistaddedbrowse.show > a,
.yith-wcwl-wishlistexistsbrowse.show > a{
	text-decoration: none;
	color: #186fbe;
	margin-left: 5px;
	display: block;
}


/*  [ - Product Categories ]
- - - - - - - - - - - - - - - - - - - - */
.single-product .product_meta .tagged_as,
.single-product .product_meta .posted_in {
	color: #186fbe;
	font-size: 16px;
	display: block;
	margin-top: 10px;
}
.single-product .product_meta .tagged_as a,
.single-product .product_meta .posted_in a {
	color: #777;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
}
.single-product .product_meta .tagged_as a:last-of-type,
.single-product .product_meta .posted_in a:last-of-type {
	margin-right: 0;
}
.single-product .woocommerce-page .product .images {
	border: 1px solid #ddd;
}

/*  [ - Woocommerce Form ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	border: 1px solid #d1d1d1;
	line-height: 20px;
	padding: 5px 10px;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	box-shadow: none;
}
.woocommerce form .form-row label.inline {
	margin-left: 10px;
	display: inline-block;
}

#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
	background-color: transparent;
}
.woocommerce-checkout-payment .payment_methods label {
	color: #333;
	font-size: 14px;
	letter-spacing: 0.52px;
	margin-bottom: 18px;
	text-transform: uppercase;
}
#add_payment_method #payment .payment_method_paypal .about_paypal, 
.woocommerce-cart #payment .payment_method_paypal .about_paypal, 
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	margin-left: 10px;
	float: none;
	line-height: normal;
	font-size: 14px;
}

/*  [ - Upsells Products ]
- - - - - - - - - - - - - - - - - - - - */
.upsells.products > h2,
.related.products > h2 {
	font-size: 22px;
	line-height: 34px;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0 0 15px;
	text-transform: uppercase;
}

.woocommerce-info > a.showlogin,
.woocommerce-info > a.showcoupon {
	color: #186fbe;
	text-decoration: none;
	margin-left: 5px;
}
.woocommerce-message,
.woocommerce-info {
	border-top-color: #186fbe;
	font-size: 14px;
}
.woocommerce-message::before,
.woocommerce-info::before {
	color: #186fbe;
}

/*  [ - Woocommerce Account ]
- - - - - - - - - - - - - - - - - - - - */
.woocommerce-account .woocommerce > h2 {
	margin-top: 0;
	color: #232323;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.462px;
	line-height: 36px;	
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
	padding-left: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	display: inline-block;
	width: 100%;
	background-color: #186fbe;
	border-bottom: 1px solid #fff;
	padding: 10px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active {
	position: relative;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active::after {
	position: absolute;
	top: 50%;
	left: auto;
	right: 10px;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	content: "\f105";
	font-family: "FontAwesome";
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
.woocommerce-MyAccount-content {
	width: 100%;
	padding: 15px;
	border: 1px solid #186fbe;
}
.woocommerce-MyAccount-content p {
	font-size: 15px;
	color: #232323;	
}
.woocommerce-Address-title h3 {
	color: #000;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 0;
	line-height: 27px;
}
.woocommerce-Address-title .edit {
    background-color: #186fbe;
    color: #fff;
    display: inline-block;
    float: none;
    font-size: 14px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    width: auto;
	border: 1px solid transparent;
}
.woocommerce-MyAccount-content legend {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 500;
}
.woocommerce-Address-title .edit:hover {
	color: #186fbe;
	border-color: #186fbe;
	background-color: transparent;
}
.woocommerce-Addresses address {
	font-size: 14px !important;
	color: #000;
	line-height: 24px;
}
.woocommerce-account .woocommerce table.my_account_orders .order-actions{
	text-align: center;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover,
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a{
	color: #ffb300;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	text-transform: capitalize;
	color: #fff;
	line-height: 26px;
	word-wrap: break-word;
	text-decoration: none;
	font-size: 15px;
	letter-spacing: 0.56px;
}
.woocommerce-account .woocommerce-MyAccount-content {
	color: #555;
	font-size: 18px;
	line-height: 30px;
}
.woocommerce-account .woocommerce-MyAccount-content p strong {
	color: #000;
	text-transform: capitalize;
}
.woocommerce-account .woocommerce-MyAccount-content p a {
	color: #000;
	font-weight: 500;
}
#customer_login h2 {
	margin-top: 0;
	font-size: 22px;
	letter-spacing: 0.58px;
	font-weight: 700;
}

/* ========================================================================== */
	/* - Responsive */
/* ========================================================================== */

/* - min-width: 1200 */
@media (max-width:1200px) {

	.woocommerce ul.products li.product .button.product_type_variable.add_to_cart_button {
		bottom: auto;
		left: 0;
		position: relative;
	}
	.woocommerce ul.products li.product .product_type_simple.add_to_cart_button {
		bottom: auto;
		float: none;
		position: relative;
		right: auto;
	}
}

/* - min-width: 992 */
@media (min-width: 992px) {
	
	/* ## Woocommerce */
	.content-area .products .owclearfix-cnt2:after {
		clear: none;
	}
}

/* - min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {	

	/* - WooCommerce Order Received */
	.woocommerce-order-received .woocommerce .order_details li {
		padding-right: 15px;
		margin-right: 15px;
	}
		
	.woocommerce-product-search input[type="search"] {
		width: 55%;
	}
	.woocommerce-product-search input[type="submit"] {
		width: 35%;
	}
	.woocommerce .widget_price_filter .price_slider_wrapper .price_label,
	.woocommerce .widget_price_filter .price_slider_amount .button {
		display: block;
		float: none;
	}
	.widget-title {
		font-size: 16px;
		line-height: 31px;
	}
	.widget.woocommerce ul.product_list_widget li img {
		width: 60px;
	}
}

/* - max-width: 991 */
@media (max-width: 991px) {
	
	/* - WooCommerce Order Received */
	.woocommerce-order-received .woocommerce .order_details li {
		margin-right: 0;
		padding-right: 0;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-right: none;
		border-bottom: 1px solid #000;
		width: 100%;
	}	
	.woocommerce-order-received .woocommerce .order_details li:last-of-type {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	/* ## Woocommerce */
	.content-area .products .owclearfix-cnt3:after {
		clear: none;
	}

	/*  [ - Products Grid ]
	- - - - - - - - - - - - - - - - - - - - */	
	.woocommerce .widget_shopping_cart .cart_list li,
	.woocommerce.widget_shopping_cart .cart_list li {
		padding-left: 0 !important;
	}
	.woocommerce .widget_shopping_cart .cart_list li a.remove, 
	.woocommerce.widget_shopping_cart .cart_list li a.remove {
		position: relative;
		float: right;
	}

	/*  [ - Related Products ]
	- - - - - - - - - - - - - - - - - - - - */	
	.woocommerce .related.products > .products > li {
		float: left !important;
	}
	
	.woocommerce-product-search input[type="search"] {
		width: 60%;
	}
	.woocommerce-product-search input[type="submit"] {
		width: 37%;
	}
	
	.woocommerce table.shop_table thead tr th,
	.woocommerce table.shop_table td {
		padding: 12px;
	}
	
	.woocommerce-cart .woocommerce table.shop_table td .coupon .button {
		margin-bottom: 10px;
	}
}

/* - min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .cross-sells,
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals {
		width: 100%;
	}
	
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 46%;
	}
}

/* - max-width: 767 */
@media (max-width: 767px) {
	
	/* - WooCommerce Order Received */
	.woocommerce-checkout.woocommerce-page.woocommerce-order-received .woocommerce {
		padding: 0;
	}
	.woocommerce-order-received .woocommerce .order_details li {
		border-right: none;
		border-bottom: 1px solid #000;
		width: 100%;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.woocommerce-order-received .woocommerce .order_details li:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}
	
	.woocommerce-order-received .shop_table.order_details .product-name strong,
	.woocommerce-order-received .shop_table.order_details .product-name a {
		font-size: 13px;
	}
	.woocommerce div.product .product_title {
		font-size: 22px;
	}	
	.woocommerce-product-search input[type="search"] {
		padding: 5px 77px 5px 10px;
		width: 72%;
	}
	.woocommerce-product-search input[type="submit"] {
		width: 26%;
	}
	
	.woocommerce ul.products li.product .price,
	.woocommerce div.product p.price,
	.woocommerce div.product span.price {
		font-size: 24px;
	}
	
	.woocommerce-page table.wishlist_table .product-thumbnail{
		display: inline-block;
		width: 100%;
		float: right;
		border: none;
	}
	.woocommerce-page table.wishlist_table .product-thumbnail a{
		float: right;
	}
	.woocommerce-page table.wishlist_table tr td.actions::before, 
	.woocommerce-page table.wishlist_table tr td.product-remove::before {
		display: block;
	}
	.woocommerce table.wishlist_table tbody th, 
	.woocommerce table.wishlist_table thead,
	.woocommerce-page table.wishlist_table tbody th,
	.woocommerce-page table.wishlist_table thead {
		display: none;
	}
	.woocommerce table.wishlist_table tr,
	.woocommerce-page table.wishlist_table tr {
		display: block;
		margin-bottom: 30px;
	}
	.woocommerce table.wishlist_table tr td{
		position: relative;
	}
	.woocommerce table.wishlist_table tr td::before {
		float: left;
		font-weight: 700;
		top: 50%;
		left: 15px;
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		position: absolute;
	}
	.woocommerce table.wishlist_table tr td:nth-of-type(2)::before {
		content: "Product Img";
	}
	.woocommerce table.wishlist_table tr td:nth-of-type(3)::before {
		content: "Product Name";
	}
	.woocommerce table.wishlist_table tr td:nth-of-type(4)::before {
		content: "Product Price";
	}
	.woocommerce table.wishlist_table tr td:nth-of-type(5)::before {
		content: "Product Status";
	}
	.woocommerce .wishlist_table thead th,
	.woocommerce .wishlist_table tbody td {
		font-size: 14px !important;
	}
	.woocommerce table.wishlist_table tr td,
	.woocommerce-page table.wishlist_table tr td {
		display: inline-block;
		width: 100%;
		text-align: right !important;
	}
	.yith-wcwl-share {
		float: left;
		margin-bottom: 35px;
		margin-left: 10px;
		text-align: left;
	}
	.woocommerce table.wishlist_table tfoot tr {
		margin: 0;
	}
	.woocommerce table.wishlist_table tfoot tr td,
	.woocommerce-page table.wishlist_table tfoot tr td {
		border: none;
		padding: 0;
	}
	
	.page-banner .banner-content h3 {
		font-size: 25px;
		line-height: 46px;
	}
}

/* - max-width: 479 */
@media (max-width: 479px) {	

	/* - Woocommerce */	
	.orderby,
	.woocommerce .woocommerce-ordering,
	.woocommerce-page .woocommerce-ordering
	.woocommerce .woocommerce-result-count,
	.woocommerce-page .woocommerce-result-count {
		width: 100%;
		float: none;
	}
	.woocommerce #reviews #comments,
	.woocommerce-page #reviews {
		padding: 10px;
	}
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {	
		font-size: 14px;
		padding: 12px 10px;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product, 
	.woocommerce-page[class*="columns-"] ul.products li.product,
	.woocommerce[class*="columns-"] ul.products li.product,
	.woocommerce-page[class*="columns-"] ul.products li.product,
	.woocommerce[class*="columns-"] ul.products li.product {
		margin: 0 auto 30px;
		padding-right: 0;
		width: 100%;
		float: none !important;
		max-width: 300px;
	}
	
	.upsells.products > h2, 
	.related.products > h2 {
		font-size: 22px;
		letter-spacing: 1px;
	}
	
	.description {
		padding: 0 5px;
	}
	.woocommerce #content div.product .woocommerce-tabs .entry-content,
	.woocommerce div.product .woocommerce-tabs .entry-content {
		padding: 15px !important;
	}	
	.woocommerce .order_details li {
		width: 100%;
		border-bottom: 1px dashed #d3ced2;
		border-right: 0;
		margin-right: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
}

/* - max-width: 400 */
@media (max-width: 400px) {	
	.woocommerce .cart-collaterals .cross-sells ul.products li, 
	.woocommerce-page .cart-collaterals .cross-sells ul.products li {
		width: 100%;
	}
}